
.ContainerCardHome{
    text-align: -webkit-center;
}

.ContainerButtonHome{
    justify-content: center !important;
}

.ContainerButtonHome:hover{
    background: none !important;
}
.ButtonHome {
    background-color: #3f51b5 !important;
    font-size: 1.25rem !important;
    color: white !important;
    Text-transform: none !important;
}

.ButtonHome:hover {
    background-color: #002984 !important;
}

.LinkHome {
    text-decoration: none !important;
    background-color: #3f51b5 !important;
    color: white !important;
    border-radius: 0.25rem;
}

.LinkHome:hover {
    background-color: #002984 !important;
}

.TypographtHome {
    padding: 6px 8px;
}